.landing__header
	.page__wrapper
		+icon('logo', 'landing__logo')
		.header__info
			a.info__phone(href="tel:+79850143308")
				| +7 (985) 014-33-08
			.info__schedule
				| Пн—Пт с 10:00 до 19:00
		.swiper-pagination.slider__pagination
		button.btn.button.button--primary(type='button', data-toggle="landing-form") Отправить заявку
		button#aside-open.btn.btn-link(type='button', data-toggle="landing-aside")
			+icon('menu')