section#section-3.landing__section.section--banner.section--banner1
	.page__wrapper
		.section__content
			.section__title
				| Стать профессиональным инвестором
			.section__subtitle
				| Проблемные активы стоят в разы дешевле обыкновенных предложений на рынке недвижимости, это и позволяет нашим покупателям дешево купить активы банкротов на нашей «распродаже активов».
			.section__text
				p
					| Как стать профессиональным инвестором
				ul.list
					li.list__item 
						+icon('ruble-crossed')
						span Это бесплатно!
					li.list__item 
						+icon('document-ok')
						span Заполните анкету и приложите документы.
					li.list__item 
						+icon('lock')
						span Придумайте логин и пароль.
					li.list__item 
						+icon('dialog')
						span Мы с вами свяжемся.
					li.list__item 
						+icon('man')
						span Вы – профессиональный инвестор.
				button.btn.button.button--primary(type='button', data-toggle="landing-form") Отправить заявку
	+section_btn(4)