section#section-4.landing__section.section--banner.section--banner2
	.page__wrapper
		.section__content
			.section__title
				| Продать выгодно
			.section__subtitle
				| Площадка по продаже активов является новым профессиональным инструментом, обеспечивающим реализацию имущества, продажу непрофильных активов и иного проблемного имущества в сжатые сроки и по выгодным ценам.
			.section__text
				ol.list
					li.list__item
						| Мы проводим презентацию Портала DA и подробно рассказываем о возможных вариантах сотрудничества
					li.list__item
						| Согласовываем Договор о сотрудничестве (пакет услуг и стоимость)
					li.list__item
						| Предоставляем вам доступ к Порталу DA
					li.list__item
						| Загружаем данные о ваших активах на Портал DA
					li.list__item
						| Проводим поиск инвестора, сопровождение сделки (в зависимости от пакета услуг)
				button.btn.button.button--primary(type='button', data-toggle="landing-form") Отправить заявку
	+section_btn(1)