section#section-2.landing__section.section--assets
	.section__wrapper
		.section__title
			| Приобрести активы сейчас
		.section__subtitle
			| Проблемные активы стоят в разы дешевле обыкновенных предложений на рынке недвижимости, это и позволяет нашим покупателям дешево купить активы банкротов на нашей «распродаже активов».
		.d-flex.align-items-center.justify-content-center
			.slider__btn.slider__btn--prev.swiper-button-prev
			.swiper-container.slider.slider--assets
				.swiper-wrapper.slider__wrapper
					each index in [0, 1, 2, 3, 4, 5]
						.swiper-slide.slider__slide
							+asset(index)
			.slider__btn.slider__btn--next.swiper-button-next
	+section_btn(3)