
@mixin addFont($name, $style, $weight){
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		src: 	url('../fonts/#{$name}/#{$name}-#{$style}-#{$weight}.woff2') format("woff2"), 
				url('../fonts/#{$name}/#{$name}-#{$style}-#{$weight}.woff') format("woff"), 
	}
}


/* exo-2-300 - cyrillic_latin */
@include addFont('Exo2', normal, $fw-light);

/* exo-2-regular - cyrillic_latin */
@include addFont('Exo2', normal, $fw-normal);

/* exo-2-500 - cyrillic_latin */
@include addFont('Exo2', normal, $fw-medium);

/* exo-2-600 - cyrillic_latin */
@include addFont('Exo2', normal, $fw-semi-bold);

/* exo-2-700 - cyrillic_latin */
@include addFont('Exo2', normal, $fw-bold);

/* roboto-regular - cyrillic_latin */
@include addFont('Roboto', normal, $fw-normal);

/* roboto-700 - cyrillic_latin */
@include addFont('Roboto', normal, $fw-bold);

/* ALSRubl */
//@include addFont('ALSRubl', normal, $fw-normal);