
/*Fonts*/
$fw-thin: 			100;
$fw-extra-light: 	200;
$fw-light: 			300;
$fw-normal: 		400;
$fw-medium: 		500;
$fw-semi-bold: 		600;
$fw-bold: 			700;
$fw-extra-bold: 	800;
$fw-black: 			900;

/*Colors*/
$black: 	#000000;
$white: 	#ffffff;

$gray_282: 	#282828;
$gray_b4b: 	#b4b4b4;
$gray_747: 	#747474;
$gray_161: 	#161818;
$gray_f3f: 	#f3f3f3;
$gray_dad: 	#dadada;

$green_70c: #70c35d;
$green_3e8: #3e894b;
$green_469: #46934b;

/*Page*/
$page-gap: 15px;
$page-wrapper-max: 1140px;
$aside-tooltip-width: 10px;

/*Animation*/
$anim-dur: 0.4s;

/*Landing*/
$landing-aside-width: 340px;
$landing-form-width-lg: 660px;
$landing-form-width-xl: 790px;
