.section{
	width: 100%;
}

.section--landing-slider{
	background-color: yellow;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: stretch;	
}

.section--assets{
		background-color: purple;
	display: flex;
	align-items: center;
	justify-content: center;
}