.slider{

}

.slider__container{

}

.slider__wrapper{

}

.slider__slide{

}

.slider__pagination{
	.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
		background: $white;
		opacity: 0.3;
		margin-left: 0 !important;
		&:hover{
			opacity: 0.5;
		}
		&:not(:last-child){
			margin-right: 10px;
		}
		&.swiper-pagination-bullet-active{
			opacity: 1;
		}
	} 
}

.slider__btn{
	width: 16px;
	height: 32px;
	margin-top: 0;
	transform: translateY(-50%);
	opacity: 0.3;
	flex-shrink: 0;
	outline: none;
	&:hover{
		opacity: 1;
	}
	@include media-breakpoint-up(sm) {
		width: 24px;
		height: 64px;
	}	
}
.slider__btn--prev{
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 66' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 1L2 33l24 32' stroke='%23000000' stroke-width='2' fill='none'/%3E%3C/svg%3E");
	&:hover{
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 66' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 1L2 33l24 32' stroke='%2370C35D' stroke-width='2' fill='none'/%3E%3C/svg%3E");
	}
}
.slider__btn--next{
	right: 0;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 66' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 65l24-32L1 1' stroke='%23000000' stroke-width='2' fill='none'/%3E%3C/svg%3E%0A");
	&:hover{
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 66' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 65l24-32L1 1' stroke='%2370C35D' stroke-width='2' fill='none'/%3E%3C/svg%3E%0A");
	}
}

.slider--landing{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	color: $white;
	.slider__wrapper{
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: stretch;		
	}
	.slider__slide{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100% !important;
		font-family: 'Exo2';
		line-height: 1.2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		@include cssvar(padding-left, page-gap);
		@include cssvar(padding-right, page-gap);		
		padding-top: 65px;
		padding-bottom: 150px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			opacity: 0.35;
			z-index: 1;
		}
	}
	.slider__pagination{
		bottom: 100px;
		text-align: left;
		@include cssvar(padding-left, page-gap);
		@include cssvar(padding-right, page-gap); 		
	}
	.asset{
		width: 100%;
		position: relative;
		z-index: 2;
	}
	.asset__category{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.asset__title{
		font-size: 24px;
	}
	.asset__category,
	.asset__title{
		max-width: 500px;
	}
	.asset__info{
		display: none;
		font-family: 'Roboto';
		font-size: 14px;
		max-width: 300px;
		margin-left: auto;
		opacity: 0.65;
	}
	.asset__type{
		font-weight: $fw-bold;
		margin-bottom: 7px;
	}
	.asset__location{
		
	}
	@include media-breakpoint-up(sm) {
		.asset{

		}		
	}
	@include media-breakpoint-up(md) {
		.slider__slide{

		}
		.asset__category,
		.asset__title{
			max-width: 650px;
		}		
		.asset__category{
			font-size: 24px;
			margin-bottom: 6px;
		}		
		.asset__title{
			font-size: 48px;
		}
	}	
	@include media-breakpoint-up(lg) {
		.asset{
			margin-left: -$aside-tooltip-width;
		}		
		.slider__slide{
			padding-bottom: 30px;
		}
		.asset__title{
			margin-bottom: 22px;
		}
		.asset__category,
		.asset__title{
			max-width: 800px;
		}
		.asset__info{
			display: block;
		}
		.slider__pagination{
			display: none;	
		}							
	}	
	@include media-breakpoint-up(lg) {
		.slider__slide{
			padding-bottom: 80px;
		}
	}
}

.slider--assets{
	margin-left: 15px;
	margin-right: 15px;
	/*outline: 1px solid;
	outline-color: transparentize($black, 0.9);*/		
	.slider__wrapper{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		max-width: 290px;
		padding: 1px; 
	}
	.slider__slide{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		max-width: 290px;
	}
	.asset{
		width: 100%;
		max-width: 290px;
		background-color: $white;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		color: $gray_282;
		outline: 1px solid;
		outline-color: transparentize($black, 0.9);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.asset__pic{
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 10px;
		&::before{
			content: '';
			display: block;
			padding-top: 75%;
		}
	}
	.asset__id{
		font-size: 13px;
	}
	.asset__date{
		font-size: 13px;
		color: $gray_b4b;
	}
	.asset__title{
		font-family: 'Exo2';
		font-weight: $fw-semi-bold;
		line-height: 1.25;
		margin-bottom: 4px;
	}
	.asset__type{
		color: $gray_747;
		font-size: 13px;
		line-height: 1.15;
		margin-bottom: 10px;
	}
	.asset__desc{
		font-size: 13px;
		line-height: 1.38;
		color: $gray_747;
		margin-bottom: 20px;
		& > div > span{
			&:nth-child(2){
				color: $gray_282;
			}
		}
	}
	.asset__reason{
		font-size: 13px;
		line-height: 1.2;
		color: $gray_282;
		margin-bottom: 4px;
	}
	.asset__price{
		font-size: 18px;
		font-weight: $fw-bold;
		line-height: 1.16;
		color: $gray_282;
		margin-bottom: 8px;
	}
	.asset__location{
		font-size: 13px;
		line-height: 1.15;
		color: $gray_747;
	}
	.asset__info{
		margin-top: auto;
		min-height: 50px;
	}
	@include media-breakpoint-up(sm) {

	}		
	@include media-breakpoint-up(md) {
		margin-left: 35px;
		margin-right: 35px;	
	}		
	@include media-breakpoint-up(lg) {

	}		
	@include media-breakpoint-up(xl) {
		margin-left: 60px;
		margin-right: 60px;
	}		
}

@media (min-width: 685px){
	.slider--assets .slider__wrapper{
		max-width: 580px;
	}
}

@media (min-width: 992px){
	.slider--assets .slider__wrapper{
		max-width: 290px;
	}
}

@media (min-width: 1100px){
	.slider--assets .slider__wrapper{
		max-width: 580px;
	}
}

@media (min-width: 1410px){
	.slider--assets .slider__wrapper{
		max-width: 870px;
	}
}

@media (min-width: 1700px){
	.slider--assets .slider__wrapper{
		max-width: 1160px;
	}
}

@media (min-width: 1990px){
	.slider--assets .slider__wrapper{
		max-width: 1450px;
	}
}