include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			//-header.page__header header
			main.page__main
				.landing
					.landing__content-wrapper.custom-scroll
						.landing__content
							section.landing__section.section--landing-slider
								.swiper-container.slider.slider--landing
									.swiper-wrapper.slider__wrapper
										each index in [0,1,2]
											.swiper-slide.slider__slide
												+asset_top(index)
									.swiper-pagination.slider__pagination
							section.landing__section.section--assets
								.swiper-container.slider.slider--assets
									.swiper-wrapper.slider__wrapper
										each index in [0,1,2,0,1]
											.swiper-slide.slider__slide
												+asset(index)
									.swiper-button-prev
									.swiper-button-next
							section.landing__section banner 1
							section.landing__section banner 2
					aside.landing__aside-wrapper.custom-scroll.landing__aside--hidden
						.landing__aside 
							| aside
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, odio! Assumenda veritatis fugiat inventore placeat, iste culpa voluptas ut aliquam quasi molestias harum id quibusdam hic, quidem nobis asperiores error.
			//-footer.page__footer footer
			include partials/scripts.pug 
		