include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			.page__wrapper
				ul
					li
						a(href="slider1.html") slider 1 (fade + text)
					li
						a(href="slider2.html") slider 2 (coverflow)
					li
						a(href="slider3.html") slider 3 (cube + text)
					li
						a(href="slider4.html") slider 4 (slide + zooming + moving)
