include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../../dist/images/sprite.svg
		.page__body
			//-header.page__header header
			main.page__main
				.landing
					.landing__content-wrapper.custom-scroll
						.landing__content
							include ./partials/landing-header.pug
							include ./partials/section-slider.pug
							include ./partials/section-assets.pug
							include ./partials/section-banner1.pug
							include ./partials/section-banner2.pug
					include ./partials/landing-form.pug
					include ./partials/landing-aside.pug
			//-footer.page__footer footer
			script.
				var landingTopPagination = document.querySelectorAll('.slider--landing .swiper-pagination, .landing__header .swiper-pagination');
				var landingTopSliderConfig = {
					direction: 'horizontal',
					slidesPerView: 1,
					touchReleaseOnEdges: true,
					disableOnInteraction: false,
					loop: true,
					pagination: {
						el: landingTopPagination,
						type: 'bullets',
						clickable: true
					},
					autoplay: {
						delay: 5000,
						disableOnInteraction: false
					},
					on: {
						init: function () {
							this.$el[0].className += ' slider--landing-style1';
							this.$el[0].className += ' slider--landing-style2';
							
							var slidesArr = [].slice.call(this.slides);
							slidesArr.map(function(slide){
								var div = document.createElement('div');
								div.style.backgroundImage = 'url('+slide.querySelector('img').src+')';
								div.className = 'slide__bg';
								slide.appendChild(div);
							});

						},
					}				
				};
				window.config = landingTopSliderConfig;


				function moveBG(elem, evt){
					var box = elem.getBoundingClientRect();
					var center = {
						x: box.width/2,
						y: box.height/2
					}
					var shift = {
						x: center.x - evt.clientX,
						y: center.y - evt.clientY,
					}
					var bg = document.querySelector('.section--landing-slider .swiper-slide-active .slide__bg');
					bg.style.left = Math.floor(shift.x/50) + 'px';
					bg.style.top = Math.floor(shift.y/50) + 'px';
				}

				var slider = document.querySelector('.section--landing-slider');
				var lastUpd = new Date();
				slider.addEventListener('mousemove', function(evt){
					var now = new Date();
					if( (now - lastUpd) > 50 ){
						moveBG(this,evt);
						lastUpd = now;
					}
				});

			include partials/scripts.pug 