
/* exo-2-300 - cyrillic_latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 300;
	src: 	local("Exo 2 Light"), 
			local("Exo2-Light"), 
			url('../fonts/Exo2Light.woff2') format("woff2"), 
			url('../fonts/Exo2Light.woff') format("woff"), 
}


/* exo-2-regular - cyrillic_latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: 	local("Exo 2"), 
			local("Exo2-Regular"), 
			url('../fonts/Exo2Regular.woff2') format("woff2"), 
			url('../fonts/Exo2Regular.woff') format("woff"), 
}


/* exo-2-600 - cyrillic_latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	src: 	local("Exo 2 Semi Bold"), 
			local("Exo2-SemiBold"), 
			url('../fonts/Exo2SemiBold.woff2') format("woff2"), 
			url('../fonts/Exo2SemiBold.woff') format("woff"), 
}


/* exo-2-700 - cyrillic_latin */
@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: 	local("Exo 2 Bold"), 
			local("Exo2-Bold"), 
			url('../fonts/Exo2Bold.woff2') format("woff2"), 
			url('../fonts/Exo2Bold.woff') format("woff"), 
}


/* roboto-regular - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: 	local("Roboto"), 
			local("Roboto-Regular"), 
			url('../fonts/RobotoRegular.woff2') format("woff2"), 
			url('../fonts/RobotoRegular.woff') format("woff"), 
}


/* roboto-700 - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: 	local("Roboto Bold"), 
			local("Roboto-Bold"), 
			url('../fonts/RobotoBold.woff2') format("woff2"), 
			url('../fonts/RobotoBold.woff') format("woff"), 
}